
.navi__button {
    min-width: 100px;
    padding: 10px;
    background-color: transparent;
    /* color: #fff; */
    /* border: 1px solid #fff; */
    border-radius: var(--border-radius-small);
    outline: none;
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: var(--font-bold);
    transition: var(--transition);
}

.navi__button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.navi__button:disabled,
.navi__button:disabled:hover {
    background-color: transparent;
    border-color: grey;
    color: grey;
    cursor: auto;
}

.dark {
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.dark:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.light {
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

.light:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}