:root {
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffff00;
  --color-dark-grey: #10100e;
  --color-blue: #6a83fb;
  --color-violet: #ae72c2;
  --color-red: #f75d83;

  --border-radius-small: 3px;
  --border-radius-medium: 5px;

  --spacing-ultrasmall: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --margin-list: 7px;

  --transition: 0.4s;

  --text-shadow-yellow: 
      0 0 2px var(--color-white),
      0 0 40px var(--color-yellow);

  --text-shadow-blue: 
      0 0 2px var(--color-white),
      0 0 40px var(--color-blue);

  --box-shadow-black:
      0 16px 24px 2px rgba(0, 0, 0, 0.5),
      0 6px 30px 5px rgba(0, 0, 0, 0.1),  
      0 8px 10px -5px rgba(0, 0, 0, 0.2);

  --box-shadow-white:
      0 16px 24px 2px rgba(255, 255, 255, 0.02), 
      0 6px 30px 5px rgba(255, 255, 255, 0.04), 
      0 8px 10px -5px rgba(255, 255, 255, 0.1);

  --font-family-main: sans-serif;
  --font-bold: 600;
  --font-size-main: 16px;
  --font-size-header: 26px;
  --font-size-subtitle: 18px;

/* Theme styles */
  --theme-light-header: #dfe2df;
  --theme-dark-header: #ca6c6f;
  --theme-neutral-header: #cccc46;
  --theme-default-header: var(--theme-neutral-header);

  --theme-light-bg: radial-gradient(circle, rgba(96,195,209,1) 0%, rgba(88,176,161,0.8130602582830007) 49%, rgba(96,195,209,1) 100%);
  --theme-dark-bg: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(25,25,59,1) 28%, rgba(2,0,37,1) 50%,
                 rgba(2,0,37,1) 60%, rgba(8,36,42,1) 80%, rgba(16,41,46,1) 100%);
  --theme-neutral-bg: url('@images/bg.jpg');
  --theme-default-bg: var(--theme-neutral-bg);

}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: var(--color-dark-grey); */
  color: #fff;
  font-family: var(--font-family-main);
  background: var(--theme-default-bg) 0 0/cover no-repeat fixed;
}

img {
  display: block;
}

.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}

.light {
  color: var(--color-light);
  text-shadow: var(--color-shadow-light);
}


/***************************************************
SCROLL
/***************************************************/
* {
	scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, .7);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(37, 56, 97);
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, .7);
}
::-webkit-scrollbar-corner {
	background-color: rgba(0, 0, 0, .7);	
}