:root {
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-family-main: sans-serif;
    --font-bold: 600;

    --transition: 0.4s;

    --border-radius-small: 3px;

    --color-white: #fff;
    --color-black: #000;
    --color-lightgrey: #dfe2df;
    --color-blue: #6a83fb;
   
}

*, *::after, *::before {
    box-sizing: border-box;
}

img {
    display: block;
}